<section class="section">
  <article class="media">
    <div class="media-content">
      <div class="content has-text-centered">
        <p>
          <strong class="is-size-1" style="font-family: cursive;">GoodsShopping</strong>
        </p>
        <p>
          <strong class="is-size-4" style="font-family: cursive;">あなたが買ってよかったと思える物をシェアしてみてね！</strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column is-5">
          <br>
          <%= link_to "ログイン", new_user_session_path, class: "button is-success is-fullwidth" %>
          <br>
          <%= link_to "新規登録", new_user_registration_path, class: "button is-success is-fullwidth" %>
          <br>
          <div class="columns login-select">
            <%# <%= link_to 'ゲストログイン', "/guest_sessions/create",method: :post, class: 'button is-link column is-5 guest-login' %>
            <%= button_to 'ゲストログイン', "/guest_sessions/create",method: :post, class: 'button is-link column guest-login' %>

              <%= link_to user_twitter_omniauth_authorize_path,method: :post, class: 'twitter-link button column is-info is-4 twitter-login' do %>
                <i class="fab fa-twitter"></i>
                <span>ツイッターでログイン</span>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <div class="main-image"></div>
      </figure>
    </div>
  </div>
</section>

<body>

</body>
